## Android Studio and Intellij and Android in general
/android/libs/armeabi/
/android/libs/armeabi-v7a/
/android/libs/arm64-v8a/
/android/libs/x86/
/android/libs/x86_64/
/android/gen/
.idea/
*.iml

## Gradle
/local.properties
.gradle/
build/

## OS Specific
.DS_Store
Thumbs.db